[install]
language=en
install_mode=expert
hostname={{ ansible_fqdn }}
mysql_hostname=localhost
mysql_port=3306
mysql_root_user=root
mysql_root_password={{ mysql_root_password }}
mysql_database=_dbispconfig
mysql_charset=utf8
http_server=apache
ispconfig_port=7777
ispconfig_use_ssl=y
ispconfig_admin_password={{ ispconfig_admin_password }}
ignore_hostname_dns=n
ispconfig_postfix_ssl_symlink=n
ispconfig_pureftpd_ssl_symlink=n

[ssl_cert]
ssl_cert_country=
ssl_cert_state=
ssl_cert_locality=
ssl_cert_organisation=
ssl_cert_organisation_unit=
ssl_cert_common_name=
ssl_cert_email=

[expert]
mysql_ispconfig_user=_ispconfig
mysql_ispconfig_password={{ mysql_ispconfig_password }}
join_multiserver_setup=n
mysql_master_hostname=
mysql_master_root_user=
mysql_master_root_password=
mysql_master_database=
configure_webserver=y
configure_mail=y
configure_jailkit=n
configure_ftp=y
configure_dns=n
configure_apache=y
configure_nginx=n
configure_firewall=y
install_ispconfig_web_interface=y

[update]
do_backup=yes
mysql_root_password=
mysql_master_hostname=
mysql_master_root_user=
mysql_master_root_password=
mysql_master_database=
reconfigure_permissions_in_master_database=no
reconfigure_services=yes
ispconfig_port=7777
create_new_ispconfig_ssl_cert=no
reconfigure_crontab=yes
ignore_hostname_dns=n
ispconfig_postfix_ssl_symlink=n
ispconfig_pureftpd_ssl_symlink=n

; These are for service-detection (defaulting to old behaviour where alle changes were automatically accepted)
svc_detect_change_mail_server=yes
svc_detect_change_web_server=yes
svc_detect_change_dns_server=yes
svc_detect_change_xmpp_server=yes
svc_detect_change_firewall_server=yes
svc_detect_change_vserver_server=yes
svc_detect_change_db_server=yes
